<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if result is not None %}
        <p> The centered average is {{ result }}</p>
    {% endif %}
    <form>
    <label>
        <p>Number 1</p>
        <input type='number' name='n1'>
    </label>
    <label>
        <p>Number 2</p>
        <input type='number' name='n2'>
    </label>
    <label>
        <p>Number 3</p>
        <input type='number' name='n3'>
    </label>
    <label>
        <p>Number 4</p>
        <input type='number' name='n4'>
    </label>
    <label>
        <p>Number 5</p>
        <input type='number' name='n5'>
    </label>
    <label>
        <p>Number 6</p>
        <input type='number' name='n6'>
    </label>
    <label>
        <p>Number 7</p>
        <input type='number' name='n7'>
    </label>
    <button>Do Thing</button>
    </form>
</body>
</html>